@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


header,main{
    animation: drop 1.5s ease;
}

@keyframes drop {
0% {
    opacity: 0;
    transform: translateY(-80px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}

/*BEGIN NAVIGATOR   */
body {
    background-color: #4A3F3F;
}

li{
    list-style: none;
}

.logo {
    text-align: center;
    }

.nav-logo img {
    width: 50%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin: 0 3rem 0 2rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 600;
    color: #CDCDCD;
}

.nav-link:hover{
    color: #ee9228;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: white;
}
.hamburger {
    display: none;
}



/* navigation end */

/* Main */

.background-circle {
    position: fixed;
    width: 700px;
    height: 700px;
    top: 5%;
    left: 0%;
    background: #F4F4F4;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.1;
}

section {
    margin-left: 10%;
    margin-right: 10%;
}

section:nth-child(2) {
    padding-bottom: 2em;
}

.title-box{
    color: #CDCDCD;
}

main section div h1 {
    font-size: 4em;

}

main section div p {
    font-size: 2em;
}

.icon-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 3em;
    justify-content: center;
}

.icon-wrapper div{
    width: 50%;
    height: auto;
}

.icon-wrapper div img {
    width: 50%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.project-wrapper {
    padding: 3em;
    padding-top: 1em;
    background-color: white;
    border-radius: 15px;
    color: #4A3F3F;
    font-family: 'Roboto Regular', sans-serif;
}



.landing-page-content {
    border-bottom: solid black 3px;
    padding: 3em;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 1em;
    
}

.project-wrapper div h1 {
    font-weight: 600;
    font-size: 30pt;
}

.project-wrapper div h2 {
    font-size: 3em;
    font-weight: 300;
    font-size: 20pt;
}

.project-wrapper div:first-child > * {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    
}

.intro-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.project-wrapper div:first-child > p {
    font-size: 12pt;
}

.intro-text > p {
    padding: 1em;
    padding-left: 0.2em;
    font-size: 12pt;
    width: 80%;
    height:auto ;
}

.project-wrapper > a > picture > img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    padding: 5%;
}

.process-container {
    display: flex;
    flex-direction: row;
}

.process-container > div >p {
        padding: 1em;
        padding-left: 0.2em;
        font-size: 12pt;
        width: 100%;
        height:auto;
}

.process-container > h3 {
    padding-top: 1em;
}



.button-wrapper {
    display: flex;
    justify-content: center;
}

button {
    padding: 15px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.2s ease 0s;
    font-weight: 600;
    color: #CDCDCD;
    background-color: #4A3F3F;
}

button:hover {
    color: #4A3F3F;
    background-color: #CDCDCD;
}






/*main */




/* footer start*/

footer {
    background-color: #22161C;
    color: ivory;
    display: flex;
    flex-direction: column;
}


footer > a {
    color: ivory;
    text-align: center;
    padding: 1em;
    font-weight: 300;
    font-family: 'Roboto condensed', sans-serif;

}

footer p {
    font-weight: 300;
    font-family: 'Roboto condensed', sans-serif;
}

footer > div {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
}

footer > div > div > h3 {
    padding: 0 0 1em 0;
}

footer > div > div > p {
    width: 50%;
}

footer > div > div {
    border-left: solid 3px white;
    margin: 1em;
    padding: 1em;
    flex-direction: column;
    width: 50%;
}

.footer-logo {
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2em 0 0 0;
    }

.footer-contact-links {
    display: flex;
    flex-direction: column;
}

.footer-contact-links > a {
    color: white;
    font-weight: 300;
    font-family: 'Roboto condensed', sans-serif;
    padding:  0.5em 0.5em 0.5em 0.5em ;
}

.footer-contact-links > a:hover {
    color: #ee9228;
}


/*Footer end*/



@media only screen and (min-width: 768px) {
    


}




@media only screen and (max-width: 768px) {

    .background-circle {
        width: 500px;
        height: 500px;
    }

    section {
        margin-left: 5%;
        margin-right: 5%;
    }

    .project-wrapper div:nth-child(2) > p {
        width: 100%;
        height:auto ;
    }

    .project-wrapper div h1 {
        font-weight: 600;
        font-size: 30pt;
    }
    
    .project-wrapper div h2 {
        font-size: 3em;
        font-weight: 300;
        font-size: 20pt;
    }
    .project-wrapper div:nth-child(2) {
        flex-direction: column;
    }

    .process-container {
        flex-direction: column;
    }

    .process-container > div>  p {
        width: 100%;
        height:auto ;
}

    

footer > div {
display: flex;
flex-direction: column;
}

footer > div > div {
    width: 100%;
}


footer > div > div > p {
    width: 50%;
}

footer > a {
    text-align: center;
    justify-content: center;
    padding-top: 0.5em;
}

footer > div {
    padding: 0.5em;
}

.landingpage-container > h1 {
    padding: 1em;
}

.nav-menu {
    position: fixed;
    right: -100%;
    top: 0rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.4s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    right: 0;
    background-color: #22161C;
}


.nav-item {
    margin: 2rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}


.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}


@media only screen and (max-width: 425px) {

    .background-circle {
        width: 500px;
        height: 500px;
        top: 4%;
    }

    .title-box h1 {
        font-size: 20pt;
    }
    .title-box p {
        font-size: 15pt;
    }

    .icon-wrapper {
        padding: 0;
        padding-top: 2em;
        padding-bottom: 2em;
        }

    .project-wrapper {
        padding: 1em;
    }    

    .project-wrapper div:first-child {
        padding-bottom: 0.5em;
    }

    .project-wrapper div:nth-child(2) p{
        font-size: 12pt;
        padding-left: 0.2em;
    }

    .project-wrapper div:first-child p{
        font-size: 12pt;
    }

    .project-wrapper div h1{
            font-size: 20pt;
    }

    .process-container > div > p{
        padding-right: 0;
    }


    footer > div > div > p {
        width: 100%;
    }

}

